/*
	CSS Theme for Vinobly 
	@copyright October 10, 2014
	@author Jeremy Jones <jeremy@joneses.us
*/

body {
	background-image: url('http://vinobly.com/img/background-dots.png');
	color: #000305;
	font-size: 87.5%; /* base font size is 14px */
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	line-height: 1.5;
	text-align: left;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	/*color: #9e1d63;*/
	color: #000;
}

a:hover, a:active {
	background-color: #9e1d63;
	color: #FFF;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img {
	height: auto;
	margin: 2% 0;
}

.mainHeader nav {
	background-color: #9e1d63;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav a:active a:link, .mainHeader nav .active a:visited {
	background-color: #f4c77b;
	text-shadow: none;
}

.mainHeader nav ul li a {
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
}

.mainContent {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
}

.mainContent select {
	float: right;
	padding: 2px;
}

/*sidenav*/
.topSidebar {
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
	padding: 2% 3%;
	margin: 2% 2% 2% 0%;
}

.topSidebar nav h2 {
	color: #f4c77b;
}

/*sidenav*/
.topSidebar nav ul {
	list-style: none;
	margin: 0 auto;
}

.topSidebar nav a:hover, .topSidebar nav a:active,
.topSidebar nav a:active a:link, .topSidebar nav .active a:visited {
	background-color: #9e1d63;
	text-shadow: none;
	color: #FFF;
}

.content {
	width: 70%;
	float: right;
}

.topContent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
	padding: 3% 5%;
	margin-top: 2%;
}

/*table 1*/
.wineTable {
	background-color: #FFF;
	border-collapse: collapse;
	border: 3px solid #000;
	color: #000;
	width: 100%;
}

.produdctListCol_1 {
	padding: 10px 10px;
}

.productListCol_2 {
	padding: 10px 10px;
}

.productListCol_3 {
	padding: 10px 10px;
}

.productListCol_4 {
	padding: 10px 10px;
}
/*table 2*/

.bottomContent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
	padding: 3% 5%;
	margin-top: 2px;
}

/*table*/
	.wines {
	  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	  margin-left: auto;
	  margin-right: auto;
	  /*width: 900px;*/
	  border-collapse: collapse;
	}

	.wines td, .wines th {
	  font-size: 1em;
	  border: 3px solid #000000;
	  padding: 3px 7px 2px 7px;
	}

	.wines th {
	  font-size: 1.1em;
	  text-align: left;
	  padding-top: 5px;
	  padding-bottom: 4px;
	  background-color: #9e1d63;
	  color: #ffffff;
	}

	.wines tr.alt td {
	  color: #000000;
	  background-color: #ca3b65;
	}
/*end table*/


.postInfo {
	font-style: italic;
	color: #999;
	font-size: 90%;
}

.mainFooter {
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
	background-color: #f4c77b;
	margin: 2% 0;
}

.mainFooter p {
	width: 92%;
	margin: 10px auto;
	color: #9e1d63;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{


	.body {
		width: 100%;
		font-size: 95%;
	}

	.mainHeader nav {
	height: 160px;
	}

	.mainHeader nav ul {
		padding-left: 0;
	}

	.mainHeader nav ul li {
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited {
		padding: 10px 25px;
		height: 20px;
		display: block;
	}
	

	.content {
		width: 100%;
		float: right;
		margin-top: 2%;
	}

	.postInfo {
		display: none;
	}

	.topContent {
		padding: 3% 5%;
		margin-top: 5px;
	}

	.bottomContent {
		padding: 3% 5%;
		margin-top: 5px;
	}

	.topSidebar {
		display: none;
	}

}