/*
	CSS Theme for Vinobly 
	@copyright October 10, 2014
	@author Jeremy Jones <jeremy@joneses.us
*/

body {
	background-image: url('http://vinobly.com/img/background-dots.png');
	color: #000305;
	font-size: 87.5%; /* base font size is 14px */
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	line-height: 1.5;
	text-align: left;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #9e1d63;
}

a:hover, a:active {
	background-color: #9e1d63;
	color: #FFF;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img {
	height: auto;
	margin: 2% 0;
}

.mainHeader nav {
	background-color: #9e1d63;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav a:active a:link, .mainHeader nav .active a:visited {
	background-color: #f4c77b;
	text-shadow: none;
}

.mainHeader nav ul li a {
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
}

.mainContent {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
}

.content {
	width: 70%;
	float: right;
}

.topContent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.bottomContent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
	padding: 3% 5%;
	margin-top: 2px;
}

.postInfo {
	font-style: italic;
	color: #999;
	font-size: 90%;
}

.topSidebar {
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
	padding: 2% 3%;
	margin: 2% 3% 2% 0%;
}

.middleSidebar {
	width: 21%;
	margin-right: 3%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
	padding: 2% 3%;
	margin-right: 3%;
	margin-bottom: 2%
}

.bottomSidebar {
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
	padding: 2% 3%;
	margin-right: 3%;
	margin-bottom: 2%
}

.mainFooter {
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius:	5px;
	-webkit-border-radius:	5px;
	background-color: #f4c77b;
	margin: 2% 0;
}

.mainFooter p {
	width: 92%;
	margin: 10px auto;
	color: #9e1d63;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{


	.body {
		width: 90%;
		font-size: 95%;
	}

	.mainHeader nav {
	height: 160px;
	}

	.mainHeader nav ul {
		padding-left: 0;
	}

	.mainHeader nav ul li {
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited {
		padding: 10px 25px;
		height: 20px;
		display: block;
	}
	

	.content {
		width: 100%;
		float: right;
		margin-top: 2%;
	}

	.postInfo {
		display: none;
	}

	.topContent {
		padding: 3% 5%;
		margin-top: 5px;
	}

	.bottomContent {
		padding: 3% 5%;
		margin-top: 5px;
	}

	.topSidebar, .middleSidebar, .bottomSidebar {
		width: 94%;
		padding: 2% 3%;
		margin: 2% 0% 2% 0%;
	}

}